body{
    margin: auto 0;
    font-family: verdana, arial, sans-serif;
}
header{
    width: auto;
    height: 100px;
    display: flex;
    background-color: #0B0D17;
}
.header-logo{
    width: 40%;
    color: white;
}
.header-logo h1{
    font-size: 36px;
    padding-left: 20%;
}
.header-menu{
    width: 60%;
    color: white;
}
.header-menu ul li{
    float: left;
    list-style: none;
    font-size: 18px;
    padding-left: 80px;
    padding-top: 23px;
    
}
.part{
    display: flex;
}
strong{
    background: linear-gradient(to right, #fba24f 0%, #ff1e1e 100%);
    background-clip: text;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.first-part-left{
   margin: 170px 50px 50px 100px;
}
.first-part-left h1{
    font-size: 50px;
    color: #575757;
    font-weight: 600;
}
.first-part-left p{
    font-size: 18px;
    color: #575757;
    margin: 50px 0px 60px 0px;
    font-weight: 400;
}
.first-part-left a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    padding: 15px 15px 15px 15px;
    background: linear-gradient(to right, #fba24f 0%, #ff1e1e 100%);
    border-radius: 40px;
}
.first-part-right img {
	height: auto;
	width: 600px;
	margin: 50px 80px 50px 0px;
}
.part-mid{
    display: flex;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.second-part-left img {
	height: 500px;
	width: auto;
	margin: 80px 80px 50px 150px;
}

.second-part-left{
    width: 50%;
}
.second-part-right{
    width: 50%;
    margin: 100px 0px 60px 0px;
}
.second-part-right h1{
    font-size: 50px;
    color: #575757;
    font-weight: 600;
}
.second-part-right p{
    font-size: 18px;
    color: #575757;
    margin: 60px 100px 80px 0px;
    font-weight: 400;
}
.second-part-right a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    padding: 15px 15px 15px 15px;
    background: linear-gradient(to right, #fba24f 0%, #ff1e1e 100%);
    border-radius: 40px;
}
.third-content{
    width: auto;
    height: 150px;
}
.third-content h1{
    font-size: 50px;
    color: #575757;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.third-content p{
    font-size: 16px;
    color: #575757;
    margin: 0px 0px 30px 0px;
    font-weight: 400;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%; 
}

.portion {
    display: flex;
    margin-top: 50px;
    margin-left: 11%;
    margin-right: 6.8%;
    padding-bottom: 50px;
}
.part-portion {
	margin-right: 60px;
    margin-right: 60px;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 20px;

}

.part-portion img {
	width: 90%;
	margin-top: 15px;
	margin-left: 15px;
}
.part-portion h1{
  color: #18191F;
  margin-top: 15px;
  margin-left: 15px;
}
.part-portion p{
    font-size: 18px;
    color: #18191F;
    margin: 0px 0px 30px 0px;
    font-weight: 400;
    margin-top: 15px;
	margin-left: 15px;
}
h2{
    font-size: 50px;
    color: #575757;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.review{
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 50px;
}
.review-contant{
   width: 40%;
   margin-right: 200px;
}
.review-contant:last-child{
    margin-right: 0px;
}
.review-contant img {
	width: 200px;
	float: left;
	padding-right: 20px;
}
.review-contant h3{
    color: #18191F;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 25px; 
}
.review-contant img{
    width: 200px;
    float: left;
}
.review-contant p{
    color: #18191F;
    margin-top: -10px;
}
footer{
    margin-top: 50px;
    height: 150px;
    background-color: #0B0D17;
    color: white;
    text-align: center;
}
footer h1{
    font-size: 30px;
    padding-top: 40px;
}
footer p{
    font-size: 22x;
}
a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    padding: 15px 15px 15px 15px;
    background: linear-gradient(to right, #fba24f 0%, #ff1e1e 100%);
    border-radius: 40px;
}